@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@100;300;400;500;700;900&display=swap');


.invisible-border {
    clear: both;
    visibility: hidden;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}


/*.................header......*/

.header {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555;
    text-align: center;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.logo-2 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

nav {
    font-size: 105%;
    list-style-type: none;
    letter-spacing: 4px;
    color: #555555;
    text-align: center;
    padding-top: 20px;
}

/*..........hero image.......*/

.hero-image {
    height: 375px;
    width: 100%;
    background: url("../images/hero-image.jpg");
    background-position: center;
    background-repeat: repeat-x;
    background-size: auto;
    background-attachment: fixed;
    padding-top: 50px;
}

/*..........Home section.......*/

.section-1 {
    padding-bottom: 175px;
}

.Ethos-heading {
    text-align: center;
    font-size: 225%;
    padding-bottom: 75px;

}

section div {
    font-family: 'Roboto', sans-serif;
    color: #555555;
    line-height: 225%;
    letter-spacing: 0.1rem;
}

/*..........icons.......*/
.fas {
    padding-left: 20px;
    font-size: 115%;
    color: black;
}

/*..........Picture gallery.......*/

.gallery-heading {
    text-align: center;
    padding-bottom: 25px;
    font-family: 'Roboto', sans-serif;
    color: #555555;
}

/*..........Footer.......*/

.contact-footer {
    padding-top: 35px;
    padding-bottom: 35px;
    color: #555555;
    text-transform: uppercase;
}

.contact-header {
    padding-bottom: 15px;
    font-family: 'Raleway', sans-serif;
}

.contact-text-align {
    text-align: center;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    padding-top: 4px;
    padding-bottom: 4px;
}

.open-header {
    text-align: center;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

/* map */
#map-wrapper {
    height: 300px;
    margin-bottom: 107px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

/*--------------Social media--------------*/

.social-links li a i {
    text-align: center;
    width: 200px;
    height: 200px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 50px;
    line-height: 7px;
}

.social-links {
    text-align: center;
    margin: 0 auto;
}