@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@100;300;400;500;700;900&display=swap');


.invisible-border {
    clear: both;
    visibility: hidden;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
    margin: 0 auto;
}

.verticle-align-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/*..........Full background.......*/
.full-bg-footer {
    height: 100%;
    width: 100%;
    background-color: #555555;
}

.full-bg-1 {
    height: 100%;
    width: 100%;
    background-color: #85e3f0;
    clip-path: polygon(0 0, 83% 0, 85% 100%, 0 100%);
    z-index: -1;
}


.full-bg-2 {
    height: 100%;
    width: 100%;
    background-color: #aaeeee;
    clip-path: polygon(0 9%, 100% 16%, 99% 84%, 1% 75%);
    z-index: -1;
}

.full-bg-3 {
    height: 100%;
    width: 100%;
    background-color: #ade9eb;
    clip-path: polygon(0 21%, 100% 14%, 99% 82%, 0 95%);
    z-index: -1;
}


/*.................header......*/

.header {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555;
    text-align: center;
    padding-top: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

nav {
    font-size: 105%;
    list-style-type: none;
    letter-spacing: 4px;
    color: #555555;
    text-align: center;
    padding-top: 20px;
}

/*..........hero image.......*/

.hero-image {
    height: 375px;
    width: 100%;
    background: url("../images/hero-image.jpg");
    background-position: center;
    background-repeat: repeat-x;
    background-size: auto;
    background-attachment: fixed;
    padding-top: 50px;
}

.hero-image-contact {
    height: 375px;
    width: 100%;
    background: url("../images/food\ truck\ hero\ pic\ 2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    padding-top: 50px;
}

.hero-image-aboutus {
    height: 375px;
    width: 100%;
    background: url("../images/hero-image-3.jpg");
    background-position: center;
    background-repeat: repeat-x;
    background-size: auto;
    background-attachment: fixed;
    padding-top: 50px;
}

/*..........Home section.......*/

.section-1 {
    padding-bottom: 175px;
}

.Ethos-heading {
    text-align: center;
    font-size: 225%;
    padding-bottom: 75px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #555555;
}

.ethos-subheading {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-bottom: 10px;
}

section div {
    font-family: 'Roboto', sans-serif;
    color: #555555;
    line-height: 225%;
    letter-spacing: 0.1rem;
}

/*..........icons.......*/
.fas {
    padding-left: 20px;
    font-size: 115%;
    color: black;
}

/*..........Picture gallery.......*/

.gallery-heading {
    text-align: center;
    padding-bottom: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #555555;
}

/*..........Picture gallery.......*/
/*..........code taken from love running project and altered.......*/


#photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photo img {

    width: 100%;
    padding: 20px;
}

#photo img:hover {
    transition: 0.5s;
    transform: scale(1.1);
}



/*..........Footer.......*/

.contact-footer {
    padding-top: 35px;
    padding-bottom: 35px;
    color: #555555;
    text-transform: uppercase;
}

.contact-text-align {
    text-align: center;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
}

.open-header {
    text-align: center;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.open-header-newsletter {
    text-align: center;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-top: 10px;
    color: white;
}

.email-input {
    position: relative;
    top: -30px;
}

.newsletter-btn {
    position: relative;
    top: -37px;
}

/* map */
#map-wrapper {
    height: 300px;
    margin-bottom: 107px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

/*--------------Social media--------------*/

.social-links li a i {
    text-align: center;
    padding: 0 15px 15px 15px;
    border-radius: 50%;
    font-size: 40px;
    line-height: 7px;
    color: #cfccc6
}

.social-links {
    text-align: center;
    margin: 0 auto;
}

.fa-facebook:hover {
    color: rgb(68, 60, 155);
    transition-property: color;
    transition-duration: 0.75s;

}

.fa-instagram:hover {
    color: rgb(197, 52, 8);
    transition-property: color;
    transition-duration: 0.75s;
}

.fa-twitter:hover {
    color: rgb(29, 200, 243);
    transition-property: color;
    transition-duration: 0.75s;
}

.fa-linkedin:hover {
    color: rgb(10, 10, 177);
    transition-property: color;
    transition-duration: 0.75s;
}

/*--------------Contact page form--------------*/
:placeholder-shown {
    font-size: 85%;
}

.contact-form {
    padding-top: 35px;
}

.Hire-us-p {
    letter-spacing: 2px;
}

.booking-prices {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 30px;
    padding-top: 50px;
}

.contact-btn {
    padding-top: 2px;
}

label,
input,
textarea {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1rem;
    padding-top: 1rem;
}

/*..........About us.......*/


.about-us-header {
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.about-us-p {
    margin-left: 1rem;
    letter-spacing: 0.3rem;
    font-size: 2vh;
    font-weight: 400;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;

}


/*----------media quierys----------*/

@media (max-width: 768px) {

    .header {
        display: none;
    }
}

@media (max-width: 768px) {
    .go-left {
        padding-right: 200px;
    }
}


@media (min-width: 280px) and (max-width: 1024px) {
    .verticle-align-middle-media {
        display: -webkit-box;
        display: -ms-flexbox;
        display: block;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media screen and (max-width:1024px) {}

.about-us-p {
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
}


@media screen and (min-width: 1200px) {
    .image-size-decrease {
        height: 575px;
        padding-left: 75px;
    }
}

@media screen and (max-width: 912px) {
    #photo {
        column-count: 1;
    }
}